[{"id":"72857","serviceFqn":"KraftTraining.services:addInts","auditLevel":"INFO","payloadEnabled":"true","channel":"Web","preList":[{"fqn":"WxFleet.v1.services.audit:preProcessor"}],"postList":[{"fqn":"WxFleet.v1.services.audit:postProcessor"}]},{"id":"18931","serviceFqn":"KraftTraining.services:helloworld","auditLevel":"INFO","payloadEnabled":"true","channel":"Web","preList":[{"fqn":"WxFleet.v1.services.audit:preProcessor"}],"postList":[{"fqn":"WxFleet.v1.services.audit:postProcessor"}]}]